-
  function formatFrequencyWarning(frequencies) {
    let warning = 'Trip times shown below are an example only. ';
    frequencies.forEach((frequency, idx) => {
      if (idx === 0) {
        warning += 'This route runs every ';
      } else {
        warning += ' and ';
      }
      warning += `${frequency.headway_min} minutes between ${frequency.start_formatted_time} and ${frequency.end_formatted_time}`;
    });
    warning += '.';
    return warning;
  }

  function getAgencyTimetableGroups(timetablePages, agencies) {
    const agencyIds = [];
    for (const timetablePage of timetablePages) {
      agencyIds.push(...timetablePage.agency_ids);
    }

    const uniqueAgencyIds = _.uniq(_.compact(agencyIds));

    if (uniqueAgencyIds.length === 0) {
      return [{
        agency: _.first(agencies),
        timetablePages
      }];
    }

    return _.orderBy(uniqueAgencyIds.map(agencyId => {
      return {
        agency: agencies.find(agency => agency.agency_id === agencyId) || _.first(agencies),
        timetablePages: timetablePages.filter(timetablePage => timetablePage.agency_ids.includes(agencyId))
      };
    }), timetableGroup => timetableGroup.agency.agency_name.toLowerCase());
  }

  function prepareMapData(timetablePage, config) {
    const routeData = {}
    const stopData = {}
    const geojsons = {}

    for (const timetable of timetablePage.consolidatedTimetables) {
      const minifiedGeojson = {
        type: 'FeatureCollection',
        features: []
      }

      for (const feature of timetable.geojson.features) {
        if (feature.geometry.type.toLowerCase() === 'point') {
          for (const route of feature.properties.routes) {
            routeData[route.route_id] = route
          }

          const stop = _.pick(feature.properties, ['stop_id', 'stop_code', 'stop_name'])
          stopData[stop.stop_id] = stop

          feature.properties = {
            route_ids: feature.properties.routes.map(route => route.route_id),
            stop_id: feature.properties.stop_id,
          }
        } else if (feature.geometry.type.toLowerCase() === 'linestring') {
          feature.properties = {
            route_color: feature.properties.route_color
          }
        } else if (feature.geometry.type.toLowerCase() === 'multilinestring') {
          feature.properties = {
            route_color: feature.properties.route_color
          }
        }
        minifiedGeojson.features.push(feature)
      }

      geojsons[formatHtmlId(timetable.timetable_id)] = minifiedGeojson
    }

    return {
      pageData: {
        routeIds: _.uniq(_.flatMap(timetablePage.consolidatedTimetables, timetable => timetable.routes.map(route => route.route_id))),
        tripIds: _.uniq(_.flatMap(timetablePage.consolidatedTimetables, timetable => timetable.orderedTrips.map(trip => trip.trip_id))),
        geojsons,
        gtfsRealtimeUrls: _.pick(config.agencies.find(agency => agency.realtimeVehiclePositions?.url), ['realtimeAlerts', 'realtimeTripUpdates', 'realtimeVehiclePositions']),
      },
      routeData,
      stopData,
    }
  }

  function getRouteColorsAsCss(route) {
    if (route && route.route_color) {
      return `background: #${route.route_color}; color: #${route.route_text_color ?? 'ffffff'};`
    }

    return ''
  }

  function formatRouteName(route) {
    if (route.route_long_name === null || route.route_long_name === '') {
      return `Route ${route.route_short_name}`;
    }

    return route.route_long_name;
  }
