include formatting_functions.pug

.timetable-overview
  if !timetablePages || !timetablePages.length
    h1 No timetables found
  else
    .overview-list
      each timetablePageGroup in getAgencyTimetableGroups(timetablePages, agencies)
        h1= `${formatListForDisplay(agencies.map((agency) => agency.agency_name))} Routes`
        each timetablePage in timetablePageGroup.timetablePages
          if config.allowEmptyTimetables || timetablePage.consolidatedTimetables.length > 0
            a.timetable-page-link(href=`${timetablePage.relativePath}` data-route-ids=`${timetablePage.route_ids ? timetablePage.route_ids.join(',') : ''}`)
              - const timetableRouteList = _.uniqBy(_.flatMap(timetablePage.consolidatedTimetables, timetable => timetable.routes), 'route_id')
              each route in timetableRouteList
                .route-color-swatch-large(style=`background-color: ${formatRouteColor(route)}; color: ${formatRouteTextColor(route)};`)= route.route_short_name || ''
              div
                .timetable-page-label= timetablePage.timetable_page_label
                .badge-gray= timetablePage.dayList
    if config.showMap
      #system_map.overview-map

      //- Use !{variable} format to inject values from pug to client side js
      script.
        const geojson = !{JSON.stringify(geojson) || '\'\''};
        const mapStyleUrl = '#{config.mapStyleUrl}';
        createSystemMap();
