a(href=`#${cssEscape(`note-${timetable.timetable_id}-${note.note_id}`)}` data-note-id=note.note_id).symbol
  if timetable.routes.length <= 1 && timetable.orientation === 'vertical'
    span= note.symbol
  else
    sup= note.symbol
