.table-container
  table.table-horizontal(summary=`This table shows schedules for a selection of key stops on the route for ${timetable.timetable_label} ${timetable.dayList}. Schedule times are listed in rows, starting with the stop name in the first cell of the row.` data-orientation="horizontal")
    caption.sr-only= `${timetable.timetable_label} | ${timetable.dayList}`
    colgroup
      col
      each trip, idx in timetable.orderedTrips
        col(class=`run_${idx} ${(trip.trip_short_name) ? 'trip_short_name_' + trip.trip_short_name : ''}` data-trip-id=trip.trip_id)
    thead
      tr
        th.stop-header(scope="col") Stop
        each trip, idx in timetable.orderedTrips
          th.trip-header(scope="col")
            .trip-name= formatTripName(trip, idx, timetable)
            each note in getNotesForTrip(timetable.notes, trip)
              include timetable_note_symbol.pug
      if timetable.frequencies && !timetable.frequencyExactTimes
        tr.trip-row
          td.trip-frequency(colspan=`${timetable.orderedTrips.length + 1}`)!= formatFrequencyWarning(timetable.frequencies)
    tbody
      if timetable.has_continues_from_route
        tr.continues-from-row
          th Continues from route
          each trip in timetable.orderedTrips
            include timetable_continuation_from.pug
      - let previousCity = null;
      each stop in timetable.stops
        if stop.stop_city !== '' && previousCity !== stop.stop_city && config.showStopCity
          tr.city-row
            th(scope="row" colspan=`${stop.trips.length + 1}`)= stop.stop_city
          - previousCity = stop.stop_city

        tr.stop-row(data-stop-id=stop.stop_id data-is-timepoint=stop.is_timepoint.toString())
          th.stop-name-container(scope="row")
            include timetable_stop_name.pug

          each stoptime in stop.trips
            include timetable_stoptime.pug

      if timetable.has_continues_as_route
        tr.continues-as-row
          th Continues as route
          each trip in timetable.orderedTrips
            include timetable_continuation_as.pug
