extends layout
block content
  include timetablepage.pug

block extraHeader
  script(src="https://unpkg.com/jquery@3.7.1/dist/jquery.min.js" crossorigin="anonymous")

  if config.menuType === 'radio'
    script(src=`${config.assetPath}js/timetable-menu.js`)

  if ((config.hasGtfsRealtimeVehiclePositions || config.hasGtfsRealtimeTripUpdates) && config.showMap) || config.hasGtfsRealtimeAlerts
    script(src=`${config.assetPath}js/pbf.js`)
    script(src=`${config.assetPath}js/gtfs-realtime.browser.proto.js`)

  if config.showMap
    link(href="https://unpkg.com/maplibre-gl@^4.7.1/dist/maplibre-gl.css" rel="stylesheet")
    script(src="https://unpkg.com/maplibre-gl@^4.7.1/dist/maplibre-gl.js")
    script(src=`${config.assetPath}js/timetable-map.js`)

  if config.hasGtfsRealtimeAlerts
    script(src=`${config.assetPath}js/anchorme.min.js`)
    script(src=`${config.assetPath}js/timetable-alerts.js`)

  link(rel="stylesheet" href=`${config.assetPath}css/timetable_styles.css`)

