extends layout

block content
  .content
    h1 Routes
    
    ul.list-group
      each route in routes
        li.list-group-item
          if route.route_color
            .route-color(style="background:##{route.route_color};")
          .route-name= route.route_short_name + ' - ' + route.route_long_name
          .btn-group
            each timetable in route.timetables
              a.btn.btn-default.btn-sm(href="/timetable?agency_key=#{agencyKey}&timetable_id=#{timetable.timetable_id}")
                if timetable.direction_label
                  span= timetable.direction_label + ' ' +  timetable.service_notes
                else
                  span= 'Direction ' + timetable.direction_id
