extends layout

block content
  .content
    if route.route_color
      .route-color(style="background:##{route.route_color};")
    h1.route_name Timetable for Route #{route.route_short_name} - #{route.route_long_name}
    
    table.timetable(id="route_id_#{route.routeroute_id}_direction_#{direction}")
      caption.direction To #{headsign}
      .description= route.description
      .timetable_daysi
        each calendar in calendars
          .calendar_name= calendar.service_name
          .calendar_days= calendar.day_list
      colgroup
        col
        each trip, idx in trips
          col(id="trip_id_#{trip.trip_id}" class="run_#{idx} #{(trip.trip_short_name) ? 'trip_short_name_' + trip.trip_short_name : ''}")
      thead
        tr
          th.stop_header(scope="column") Stop
          each trip, idx in stops[0].trips
            th.run_header(scope="column")= trip.trip_short_name || 'Run #' + (idx + 1)

      tbody
        each stop in stops
          tr.stop_row(id="stop_id_#{stop.stop_id}")
            th(scope="row")
              .stop_name= stop.stop_name
              .stop_code= stop.stop_code
              .stop_description= stop.stop_desc
            
            each trip in stop.trips
              td.stop_time(class="#{trip.classes.join(' ')}")
                span.stop_time_text!= trip.formatted_time
                span.stop_time_period= trip.formatted_period
              
    .notes
      .note *** = Request stop - call for pickup
      .note &mdash; = No service at this timepoint
      
    .calendar_dates
      if excludedDates.length
        .excluded_dates Service not provided on:
          each date in excludedDates
            div= date
      if includedDates.length
        .included_dates Service provided on:
          each date in includedDates
            div= date
          
        
