include formatting_functions.pug

.container.mx-4.h-screen.items-stretch(class="md:mx-auto md:flex")
  if !timetablePages || !timetablePages.length
    .flex.justify-center
      .bg-blue-700.text-white.font-bold.rounded-lg.border.shadow-lg.text-lg.p-8(class="w-1/2") No timetables found
  else
    .overview-list.flex-none(class="md:overflow-y-scroll")
      h1.text-2xl.pt-4.pb-2= `${agency.agency_name} Routes`
      each timetablePage in timetablePages
        if config.allowEmptyTimetables || timetablePage.consolidatedTimetables.length > 0
          a.block.mb-3(href=`${timetablePage.relativePath}` data-route-ids=`${timetablePage.route_ids ? timetablePage.route_ids.join(',') : ''}`)
            .text-lg.leading-none= timetablePage.timetable_page_label
            each route in _.uniqBy(_.flatMap(timetablePage.consolidatedTimetables, timetable => timetable.routes), 'route_id')
              .flex.my-1
                .route-color-swatch.flex-none(style=`background-color: #${route.route_color}; color: #${route.route_text_color};`)= route.route_short_name || ''
                .ml-1.text-gray-600.leading-none= formatRouteName(route)
            .text-gray-600= timetablePage.dayList
    if config.showMap
      .map.ml-4.h-full.w-full(id="system_map")

      //- Use #{variable} format to inject values from pug to client side js
      script.
        (function() {
          var geojson = !{JSON.stringify(agency.geojson) || '\'\''};
          createSystemMap('system_map', geojson);
        })();
