include formatting_functions.pug

div(class=config.showMap ? 'container-fluid' : 'container')
  .row.mt-4.mb-2
    .col-md-12
      h1.overview-label= `${agency.agency_name} Routes`
  .row
    if !timetablePages || !timetablePages.length
      .col-md-6.col-md-offset-3
        .well No timetables found
    else
      div(class= config.showMap ? 'col-md-3' : 'col')
        .list-group.overview-list
          each timetablePage in timetablePages
            a.list-group-item(href=`${timetablePage.relativePath}` data-route-ids=`${timetablePage.route_ids ? timetablePage.route_ids.join(',') : ''}`)
              h3.list-group-item-heading= getTimetablePageLabel(timetablePage)
              each route in getRoutesForTimetablePage(timetablePage)
                .d-flex
                  .route-color-swatch(style=`background-color: #${route.route_color}; color: #${route.route_text_color};`)
                  .ml-1= formatRouteName(route)
              .list-group-item-text= timetablePage.dayList
      if config.showMap
        .col-md-9
          .map(id="system_map")

        //- Use #{variable} format to inject values from pug to client side js
        script.
          (function() {
            var geojson = !{JSON.stringify(agency.geojson) || '\'\''};
            createSystemMap('system_map', geojson);
          })();
