td.stop-time(class=`${stoptime.classes.join(' ')}`)
  span.stop-time-text!= stoptime.formatted_time
  if stoptime.skipped && timetable.noServiceSymbol !== null
    span.symbol= timetable.noServiceSymbol
  if stoptime.interpolated && timetable.interpolatedStopSymbol !== null
    span.symbol= timetable.interpolatedStopSymbol
  if stoptime.requestPickup && timetable.requestPickupSymbol !== null
    span.symbol= timetable.requestPickupSymbol
  if stoptime.noPickup && timetable.noPickupSymbol !== null
    span.symbol= timetable.noPickupSymbol
  if stoptime.requestDropoff && timetable.requestDropoffSymbol !== null
    span.symbol= timetable.requestDropoffSymbol
  if stoptime.noDropoff && timetable.noDropoffSymbol !== null
    span.symbol= timetable.noDropoffSymbol
