td.stop-time(class=`${trip.classes.join(' ')}`)
  if stop.type === 'arrival'
    span.stop-time-text= trip.arrival_formatted_time
    span.stop-time-period= trip.arrival_formatted_period
  else
    span.stop-time-text= trip.departure_formatted_time
    span.stop-time-period= trip.departure_formatted_period
