td.stop-time(class=`${stoptime.classes.join(' ')}`)
  span.stop-time-text= stoptime.formatted_time
  span.stop-time-period= stoptime.formatted_period
  if stoptime.skipped
    span.symbol= timetable.noServiceSymbol
  if stoptime.interpolated
    span.symbol= timetable.interpolatedStopSymbol
  if stoptime.requestPickup
    span.symbol= timetable.requestPickupSymbol
