.table-container
  table.table.table-vertical(summary= getTimetableSummary(timetable))
    caption.sr-only= `${getTimetableLabel(timetable)} | ${timetable.dayList}`
    colgroup
      each stop, idx in timetable.stops
        col(id=`stop_id_${stop.stop_id}` class=`stop-${idx}` data-stop-id=`${stop.stop_id}`)
    thead
      tr
        each stop, idx in timetable.stops
          th.stop-header(scope="col" width=`${(100 / timetable.stops.length).toFixed(2)}%`)
            include timetable_stopname.pug

    tbody
      if timetable.frequencies && !timetable.frequencyExactTimes
        tr.trip-row
          td.trip-frequency(colspan=`${timetable.stops.length}`)= formatFrequencyWarning(timetable.frequencies)
      each trip, idx in timetable.orderedTrips
        tr.trip-row(id=`trip_id_${trip.trip_id}`)
          each stop in timetable.stops
            - trip = stop.trips[idx]
            include timetable_stoptime.pug
