include formatting_functions.pug

<!-- Timetable generated on #{Date()} using GTFS-to-HTML version #{config.gtfsToHtmlVersion} -->
.timetable-page(class=`menu-type-${config.menuType}`)
  .container-fluid
    if config.showRouteTitle
      .row.mt-4.mb-4
        .col-md-12
          h1.timetable-page-label
            if timetablePage.routeColors && timetablePage.routeColors.length === 1
              .route-color-swatch-large(style=`background-color: #${timetablePage.routeColors[0]}`)
            span= timetablePage.timetable_page_label
          if config.effectiveDate
            .effective-date= `Effective ${config.effectiveDate}`

    include timetable_menu.pug

    each timetable in timetablePage.consolidatedTimetables
      .timetable(id=`timetable_id_${formatHtmlId(timetable.timetable_id)}` data-day-list=timetable.dayList data-direction-name=timetable.direction_name data-timetable-id=timetable.timetable_id data-direction-id=timetable.direction_id data-route-id=timetable.route_ids.join('_'))
        .row
          .col-md-12
            h2.description= `${timetable.timetable_label} | ${timetable.dayListLong}`
              each note in getNotesForTimetableLabel(timetable.notes)
                include timetable_note_symbol.pug
            .service-notes= timetable.service_notes

        if config.showMap
          .row
            .col-md-12
              .map(id=`map_timetable_id_${formatHtmlId(timetable.timetable_id)}`)
          
          //- Use #{variable} format to inject values from pug to client side js
          script.
            (function() {
              var id = 'timetable_id_#{formatHtmlId(timetable.timetable_id)}';
              var geojson = !{JSON.stringify(timetable.geojson)};
              var routeColor = `##{timetable.routes[0].route_color || '416CB5'}`;
              createMap(id, geojson, routeColor);
            })();

        .row
          .col-md-12
            if timetable.orientation === 'horizontal'
              include timetable_horizontal.pug
            else if timetable.orientation === 'hourly'
              include timetable_hourly.pug
            else if timetable.orientation === 'vertical'
              include timetable_vertical.pug

        .row.timetable-bottom
          if hasNotesOrNotices(timetable)
            .col-md-4.notes
              if timetable.requestPickupSymbolUsed
                .note(id=`note-${timetable.timetable_id}-request-pickup`)= `${config.requestPickupSymbol} = ${config.requestPickupText}`
              if timetable.noPickupSymbolUsed
                .note(id=`note-${timetable.timetable_id}-no-pickup`)= `${config.noPickupSymbol} = ${config.noPickupText}`
              if timetable.requestDropoffSymbolUsed
                .note(id=`note-${timetable.timetable_id}-request-dropoff`)= `${config.requestDropoffSymbol} = ${config.requestDropoffText}`
              if timetable.noDropoffSymbolUsed
                .note(id=`note-${timetable.timetable_id}-no-dropoff`)= `${config.noDropoffSymbol} = ${config.noDropoffText}`
              if timetable.noServiceSymbolUsed
                .note(id=`note-${timetable.timetable_id}-no-service`)= `${config.noServiceSymbol} = ${config.noServiceText}`
              if timetable.interpolatedStopSymbolUsed
                .note(id=`note-${timetable.timetable_id}-interpolated-stop`)= `${config.interpolatedStopSymbol} = ${config.interpolatedStopText}`
              each note in _.uniqBy(timetable.notes, 'note_id')
                .note(id=`note-${timetable.timetable_id}-${note.note_id}`)= `${note.symbol} = ${note.note}`

          if timetable.calendarDates.includedDates.length
            .col-md-4
              .included-dates= `${config.serviceProvidedOnText}: ${timetable.calendarDates.includedDates.join(', ')}`

          if timetable.calendarDates.excludedDates.length
            .col-md-4
              .excluded-dates= `${config.serviceNotProvidedOnText}: ${timetable.calendarDates.excludedDates.join(', ')}`
