.timetable-page(class=`menu-type-${config.menuType}`)
  .row
    .col-md-12
      h1.timetable-page-label= `${timetablePage.timetable_page_label}`
      if config.effectiveDate
        .effective-date= `Effective ${config.effectiveDate}`
    
  include timetable_menu.pug

  each timetable in timetablePage.timetables
    .timetable(id=`timetable_id_${timetable.timetable_id}` data-day-list=timetable.dayList data-direction-name=timetable.direction_name data-timetable-id=timetable.timetable_id)
      .row
        .col-md-12
          if timetablePage.timetables.length > 1
            h2.description= timetable.timetable_label
          .service-notes= timetable.service_notes
          .timetable-days= timetable.dayList

          if timetable.orientation === 'horizontal'
            include timetable_horizontal.pug
          else
            include timetable_vertical.pug
          
      .row.timetable-bottom
        .col-md-6.notes
          if timetable.requestStopSymbolUsed
            .note= `${config.requestStopSymbol} = Request stop - call for pickup`
          if timetable.noServiceSymbolUsed
            .note= `${config.noServiceSymbol} = No service at this timepoint`
            
        .col-md-3
          if timetable.specialDates.includedDates.length
            .included-dates Service provided on:
              span= timetable.specialDates.includedDates.join(', ')
        .col-md-3
          if timetable.specialDates.excludedDates.length
          .excluded-dates Service not provided on:&nbsp;
              span= timetable.specialDates.excludedDates.join(', ')

      if config.showMap
        .row
          .col-md-12
            .map(id=`map_${timetable.timetable_id}`)

        script.
          (function() {
            var id = '#{timetable.timetable_id}';
            var stops = !{JSON.stringify(timetable.stopsForMap)};
            var shapes = !{JSON.stringify(timetable.shapes)};
            createMap(id, stops, shapes);
          })();
